[submodule "coreutils"]
	path = coreutils
	url = https://github.com/tpcp-project/coreutils.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/tpcp-project/sqlite.git
[submodule "tar"]
	path = tar
	url = https://github.com/tpcp-project/tar.git
[submodule "tinype"]
	path = tinype
	url = https://github.com/tpcp-project/tinype.git
[submodule "poppler"]
	path = poppler
	url = https://github.com/tpcp-project/poppler.git
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/tpcp-project/libarchive.git
